<table st-table="displayed" class="table table-striped">
	<thead>
		<tr>
			<th st-ratio="20" st-sort="id">ID</th>
			<th st-ratio="65" st-sort="name">Name</th>
			<th st-ratio="15" st-sort="age">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="categoryone in categoryones">
			<td st-ratio="20"><a href="#/product_catalog/{{categoryone.id}}">{{categoryone.id}}</a></td>
			<td st-ratio="65"><a href="#/product_catalog/{{categoryone.id}}">{{categoryone.name}}</a></td>
			<td st-ratio="15">
				<i class="glyphicon glyphicon-lg glyphicon-eye-open" uib-popover="View {{categoryone.name}} Categories" popover-trigger="mouseenter" ng-click="view()"></i>						
				<a  href="#/product_catalog/management/catalog/{{categoryone.id}}/update"><i class="glyphicon glyphicon-lg glyphicon-edit" uib-popover="Edit {{categoryone.name}}" popover-trigger="mouseenter"></i></a>
				<i class="glyphicon glyphicon-lg glyphicon-trash" uib-popover="Delete {{categoryone.name}}" popover-trigger="mouseenter" ng-click="remove()"></i>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5" class="text-center">
				<div  st-items-by-page="20" st-pagination=""></div>
			</td>
		</tr>
	</tfoot>
</table>

<a type="button" class="btn btn-primary btn-md" href="#/product_catalog/management/catalog/create">Create New Catalog</a>
