<table st-table="displayed" class="table table-striped">
	<thead>
		<tr>
			<th st-ratio="20" st-sort="id">ID</th>
			<th st-ratio="45" st-sort="categoryOneId">Catalog</th>
			<th st-ratio="20" st-sort="name">Name</th>
			<th st-ratio="15">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="categorytwo in categorytwos">
			<td st-ratio="20"><a href="#/product_catalog/{{categorytwo.categoryOneId}}/categories/{{categorytwo.id}}/products">{{categorytwo.id}}</a></td>
			<td st-ratio="20"><a href="#/product_catalog/{{categorytwo.categoryOneId}}">{{getCategoryOneName(categorytwo.categoryOneId)}}</a></td>
			<td st-ratio="45"><a href="#/product_catalog/{{categorytwo.categoryOneId}}/categories/{{categorytwo.id}}/products">{{categorytwo.name}}</a></td>
			<td st-ratio="15">
				<i class="glyphicon glyphicon-lg glyphicon-eye-open" uib-popover="View {{categorytwo.name}} Categories" popover-trigger="mouseenter" ng-click="view()"></i>						
				<a  href="#/product_catalog/management/category/{{categorytwo.id}}/update"><i class="glyphicon glyphicon-lg glyphicon-edit" uib-popover="Edit {{categorytwo.name}}" popover-trigger="mouseenter"></i></a>
				<i class="glyphicon glyphicon-lg glyphicon-trash" uib-popover="Delete {{categorytwo.name}}" popover-trigger="mouseenter" ng-click="remove()"></i>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5" class="text-center">
				<div  st-items-by-page="20" st-pagination=""></div>
			</td>
		</tr>
	</tfoot>
</table>

<a type="button" class="btn btn-primary btn-md" href="#/product_catalog/management/category/create">Create New Category</a>
