<table st-table="categorytwos" st-safe-src="displayCategorytwos" class="table table-striped">
	<thead>
		<tr>
			<th st-ratio="20" st-sort="id">ID</th>
			<th st-ratio="20" st-sort="categoryOneId">Catalog</th>
			<th st-ratio="45" st-sort="name">Name</th>
			<th st-ratio="15">Actions</th>
		</tr>
		<tr>
			<th st-ratio="20"></th>
            <th st-ratio="20">
            	<input st-search="catalogName" placeholder="search for catalog" class="input-sm form-control" type="search"/>
            </th>
           	<th st-ratio="45">
            	<input st-search="name" placeholder="search for name" class="input-sm form-control" type="search"/>
            </th>
			<th st-ratio="15"></th>
		</tr>		
	</thead>
	<tbody>
		<tr ng-repeat="categorytwo in categorytwos" ng-show="categorytwo.id">
			<td st-ratio="20"><a ui-sref="products({categoryOneId:categorytwo.categoryOneId,categoryTwoId:categorytwo.id})">{{categorytwo.id}}</a></td>
			<td st-ratio="20"><a ui-sref="productCategory({categoryOneId:categorytwo.categoryOneId})">{{categorytwo.catalogName}}</a></td>
			<td st-ratio="45"><a ui-sref="products({categoryOneId:categorytwo.categoryOneId,categoryTwoId:categorytwo.id})">{{categorytwo.name}}</a></td>
			<td st-ratio="15">
				<a  ui-sref="productManagement.categoryUpdate({id:categorytwo.id})"><i class="glyphicon glyphicon-lg glyphicon-edit" uib-popover="Edit {{categorytwo.name}}" popover-trigger="mouseenter"></i></a>
				<i class="glyphicon glyphicon-lg glyphicon-trash" uib-popover="Delete {{categorytwo.name}}" popover-trigger="mouseenter" ng-click="deleteAll(categorytwo)"></i>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5" class="text-center">
				<div st-items-by-page="itemsByPage" st-pagination="" st-template="templates/partials/_pagination.html"></div>
			</td>
		</tr>
	</tfoot>
</table>

<a type="button" class="btn btn-primary btn-md" ui-sref="productManagement.categoryCreate">Create New Category</a>
