<table st-table="products" st-safe-src="displayProducts" class="table table-striped">
	<thead>
		<tr>
			<th st-ratio="20" st-sort="id">ID</th>
			<th st-ratio="20" st-sort="categoryOneId">Catalog</th>
			<th st-ratio="20" st-sort="categoryTwoId">Category</th>			
			<th st-ratio="25" st-sort="name">Name</th>
			<th st-ratio="15">Actions</th>
		</tr>
		<tr>
			<th st-ratio="20"></th>
            <th st-ratio="20">
            	<input st-search="catalogName" placeholder="search for catalog" class="input-sm form-control" type="search"/>
            </th>
            <th st-ratio="20">
            	<input st-search="categoryName" placeholder="search for category" class="input-sm form-control" type="search"/>
            </th>
           	<th st-ratio="25">
            	<input st-search="name" placeholder="search for name" class="input-sm form-control" type="search"/>
            </th>
			<th st-ratio="15"></th>
		</tr>		
	</thead>
	<tbody>
	<!--   ui-sref="products({categoryOneId:categorytwo.categoryOneId,categoryTwoId:categorytwo.id})">{{categorytwo.id}}</a></td>
			<td st-ratio="20"><a ui-sref="productCategory({categoryOneId:categorytwo.categoryOneId})">{{categorytwo.catalogName}}</a></td>
			<td st-ratio="45"><a ui-sref="products({categoryOneId:categorytwo.categoryOneId,categoryTwoId:categorytwo.id})">{{categorytwo.name}}</a></td>
			-->
		<tr ng-repeat="product in products" ng-show="product.id">
			<td st-ratio="20"><a ui-sref="product({categoryOneId:product.categoryOneId,categoryTwoId:product.categoryTwoId,id:product.id})">{{product.id}}</a></td>
			<td st-ratio="20"><a ui-sref="productCategory({categoryOneId:product.categoryOneId})">{{product.catalogName}}</a></td>
			<td st-ratio="20"><a ui-sref="products({categoryOneId:product.categoryOneId,categoryTwoId:product.categoryTwoId})">{{product.categoryName}}</a></td>			
			<td st-ratio="25"><a ui-sref="product({categoryOneId:product.categoryOneId,categoryTwoId:product.categoryTwoId,id:product.id})">{{product.name}}</a></td>
			<td st-ratio="15">
				<a  ui-sref="productManagement.productUpdate({id:product.id})" type="button" class="btn btn-sm btn-primary" uib-popover="Edit {{product.name}}" popover-trigger="mouseenter">
					<i class="glyphicon glyphicon-lg glyphicon-edit"></i>
				</a>
				<button type="button" class="btn btn-sm btn-danger" uib-popover="Delete {{product.name}}" popover-trigger="mouseenter" ng-click="deleteAll(product)">
					<i class="glyphicon glyphicon-lg glyphicon-trash"></i>				
				</button> 
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5" class="text-center">
				<div st-items-by-page="itemsByPage" st-pagination="" st-template="templates/partials/_pagination.html"></div>
			</td>
		</tr>
	</tfoot>
</table>

<a type="button" class="btn btn-primary btn-md" ui-sref="productManagement.productCreate">Create New Product</a>
