<h1>New Product</h1>
<sp-product-form categoryones="categoryones" categorytwos="categorystwos" product="product" action="Create"></sp-product-form>

<sp-file-upload file-type="Image" upload-url="/files/images/upload" product-id="product.id" ng-show="product.id"></sp-file-upload>

<sp-file-upload file-type="Document" upload-url="/files/docs/upload" product-id="product.id" ng-show="product.id"></sp-file-upload>

<sp-product-videos product-id="product.id" ng-show="product.id" action="'createOrUpdate'"></sp-product-videos>