<div class="container">
	<h2>{{product.name}}</h2>
	<hr />
	<h1><a class="btn btn-default" href="#/product_catalog/management/product/{{product.id}}/update" ng-show="authority==='ADMIN'">Update Product</a></h1>
	<hr />
  	<div style="height: 305px">
    	<uib-carousel interval="myInterval" no-wrap="noWrapSlides">
      		<uib-slide ng-repeat="slide in slides" active="slide.active">
	        	<img ng-src="{{slide.image}}" class="product-image">
       	        <div class="carousel-caption">
	    	    </div>
      		</uib-slide>
	    </uib-carousel>
  	</div>
	<hr />
	<div class="product-tabs-container">
  	<uib-tabset justified="true">
    	<uib-tab heading="Overview"><p class="product-details" ng-bind-html="product.overview"></p></uib-tab>
  	    <uib-tab heading="Benefits"><p class="product-details" ng-bind-html="product.benefits"></p></uib-tab>
       	<uib-tab heading="Cases"><p class="product-details" ng-bind-html="product.cases"></p></uib-tab>
    	<uib-tab heading="Technology"><p class="product-details" ng-bind-html="product.technology"></p></uib-tab>
    	<uib-tab heading="Specification"><p class="product-details" ng-bind-html="product.specification"></p></uib-tab>
  	</uib-tabset>
  	</div>
  	
  	<hr />
  	<!-- accordion -->
	<uib-accordion close-others=false>
    	<uib-accordion-group is-open="download.open">
     		<uib-accordion-heading>
        		Download <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': download.open, 'glyphicon-chevron-right': !download.open}"></i>
     		</uib-accordion-heading>
     		<div class="col-md-6" ng-repeat="productDocument in productDocuments">
	    		<a href="{{getDocumentDirectory(productDocument.name)}}">
		  			<i class="glyphicon glyphicon-file"></i>{{getOriginDocumentName(productDocument.name)}}
				</a>
			</div>
    	</uib-accordion-group>
	   	<uib-accordion-group is-open="videos.open">
 	     	<uib-accordion-heading>
        		Videos <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': videos.open, 'glyphicon-chevron-right': !videos.open}"></i>
     		</uib-accordion-heading>
			<sp-product-videos product-id="product.id"></sp-product-videos>
        </uib-accordion-group>
  	</uib-accordion>
</div>
