<ui-view>
<h1>Dashboard</h1>
<div ng-show="authenticated">
	<div class="row">
		<div class="col-md-12">		
			<div class="col-md-6">
				<div class="panel panel-primary">
			  		<div class="panel-heading">Own Deals</div>
				  	<div class="panel-body">
				  		<div ng-show="allOwnDealsDisplayed"><label>Search:</label> <input type="text" ng-model="searchOwnDeals" /></div>
		    			<div ng-repeat="ownDeal in ownDeals | orderBy:'-dealId'| filter:searchOwnDeals | startFrom:(ownDealsCurrentPage-1)*pageCapacity | limitTo:numOfDisplayedOwnDeals">
		    				<a href="#/deal/{{ownDeal.dealId}}/show">
			    				<span>#{{ownDeal.dealId}} <i>{{ownDeal.productName}}</i> for {{ownDeal.companyName}}</span>
			    				<span class="label" ng-class="ownDeal.dealStatus==='IN PROGRESS' ? 'label-warning' : (ownDeal.dealStatus==='WON' ? 'label-success' : 'label-danger')">{{ownDeal.dealStatus}}</span>
				    			<span class="label label-primary" ng-show="ownDeal.unreadComments">{{ownDeal.unreadComments}} unread comments</span>
				    			<span class="label label-info" ng-show="ownDeal.unreadEvents">{{ownDeal.unreadEvents}} new events</span>
				    			<span class="label label-default" ng-show="ownDeal.unreadFiles">{{ownDeal.unreadFiles}} new files</span>
							    <span class="label label-primary" ng-show="ownDeal.unreadExpenseClaims">{{ownDeal.unreadExpenseClaims}} new expense claims</span>
		    				</a>	
		    			</div>
		    			<div>
		    				<uib-pagination total-items="totalOwnDeals" items-per-page="pageCapacity" max-size="ownDealsNoOfPages" ng-model="ownDealsCurrentPage" ng-show="allOwnDealsDisplayed"></uib-pagination>
		    			</div>
   						<div>
   							<button class="btn btn-primary btn-xs" ng-show="ownDeals.length>numOfDisplayedOwnDeals && displayViewAllOwnDealsButton" ng-click="displayAllOwnDeals()">View All</button>
					   		<button class="btn btn-primary btn-xs" ng-show="displayCloseAllOwnDealsButton" ng-click="closeAllOwnDeals()">Close</button>
   						</div> 			
			  		</div>
			  	</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-info">
			  		<div class="panel-heading">Following Deals</div>
				  	<div class="panel-body">
			  		<div ng-show="allOtherDealsDisplayed"><label>Search:</label> <input type="text" ng-model="searchOtherDeals" /></div>  	
						<div ng-repeat="otherDeal in otherDeals | orderBy:'-dealId' | filter:searchOtherDeals | startFrom:(otherDealsCurrentPage-1)*pageCapacity | limitTo:numOfDisplayedOtherDeals">
							<a href="#/deal/{{otherDeal.dealId}}/show">
								<span>#{{otherDeal.dealId}} <i>{{otherDeal.productName}}</i> for {{otherDeal.companyName}}</span>
								<span class="label" ng-class="otherDeal.dealStatus==='IN PROGRESS' ? 'label-warning' : (otherDeal.dealStatus==='WON' ? 'label-success' : 'label-danger')">{{otherDeal.dealStatus}}</span>
				    			<span class="label label-primary" ng-show="otherDeal.unreadComments">{{otherDeal.unreadComments}} unread comments</span>
				    			<span class="label label-info" ng-show="otherDeal.unreadEvents">{{otherDeal.unreadEvents}} new events</span>
						    	<span class="label label-default" ng-show="otherDeal.unreadFiles">{{otherDeal.unreadFiles}} new files</span>
							    <span class="label label-primary" ng-show="otherDeal.unreadExpenseClaims">{{otherDeal.unreadExpenseClaims}} new expense claims</span>				    	
							</a>
		    			</div>
		    			<div>
		    				<uib-pagination total-items="totalOtherDeals" items-per-page="pageCapacity" max-size="otherDealsNoOfPages" ng-model="otherDealsCurrentPage" ng-show="allOtherDealsDisplayed"></uib-pagination>
		    			</div>
		    			<div>
		    				<button class="btn btn-info btn-xs" ng-show="otherDeals.length>numOfDisplayedOtherDeals && displayViewAllOtherDealsButton" ng-click="displayAllOtherDeals()">View All</button>
							<button class="btn btn-primary btn-xs" ng-show="displayCloseAllOtherDealsButton" ng-click="closeAllOtherDeals()">Close</button>		  		
	    				</div>
	    			</div>
			  	</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6">
				<div id="events-calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
				<div ng-show="event.id">
					<br />
					<div class="panel panel-warning">
			  			<div class="panel-heading">Selected Event</div>
					  	<div class="panel-body">
					  		<ul class="list-group">
								<li class="list-group-item">Title: {{event.title}}</li>
								<li class="list-group-item">Start Time: {{event.start | date:'MMM dd yyyy HH:mm'}}</li>
								<li class="list-group-item">End Time:{{event.end | date:'MMM dd yyyy HH:mm'}}</li>	
								<li class="list-group-item">Location:{{event.location}}</li>	
					  		</ul>
					  	</div>
				  	</div>								
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
			  		<div class="panel-heading">Assigned Tasks</div>
				  	<div class="panel-body">
				  	<div ng-show="allServiceEventsDisplayed"><label>Search:</label> <input type="text" ng-model="searchServiceEvents" /></div>
		    			<div ng-repeat="serviceEvent in serviceEvents | orderBy:'-id'| filter:searchServiceEvents | startFrom:(serviceEventsCurrentPage-1)*pageCapacity | limitTo:numOfDisplayedServiceEvents">
		    				<a href="#/deal/{{serviceEvent.dealId}}/show">
			    				<span>#{{serviceEvent.id}} {{serviceEvent.title}}@{{serviceEvent.location}}<br />{{serviceEvent.start | date: 'MMM dd yyyy HH:mm'}} - {{serviceEvent.end | date: 'MMM dd yyyy HH:mm'}}</span>
		    				</a>	
		    			</div>
		    			<div>
		    				<uib-pagination total-items="totalServiceEvents" items-per-page="pageCapacity" max-size="serviceEventsNoOfPages" ng-model="serviceEventsCurrentPage" ng-show="allServiceEventsDisplayed"></uib-pagination>
		    			</div>
   						<div>
   							<button class="btn btn-primary btn-xs" ng-show="serviceEvents.length>numOfDisplayedServiceEvents && displayViewAllServiceEventsButton" ng-click="displayAllServiceEvents()">View All</button>
					   		<button class="btn btn-primary btn-xs" ng-show="displayCloseAllServiceEventsButton" ng-click="closeAllServiceEvents()">Close</button>
   						</div> 	
				  	</div>
				</div>  	
			</div>
		</div>
	</div>
	<hr />
	<br />
	

    <div class="row">
		<div class="col-md-2"><select class="form-control" name='year' ng-model='thisYear' ng-options='year for year in [2013,2014,2015,2016]' required></select></div>
		<div class="col-md-4"><h4>Sales Amount/Expenses Claimed</h4></div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<canvas id="barChart" class="chart chart-bar" chart-data="barData" chart-labels="barLabels" chart-series="barSeries" chart-click="barOnClick">
			</canvas>
		</div>
		<div class="col-md-6">
			<table st-set-filter="customFilter" st-table="monthlyRecords" st-safe-src="DisplayMonthlyRecords" class="table table-striped">
				<thead>
					<tr>
						<th st-ratio="10" st-sort="yearmonth" st-sort-default="reverse">Year Month</th>
						<th st-ratio="10" st-sort="salesTarget">Sales Target</th>									
						<th st-ratio="10" st-sort="claimableExpenses">Claimable Expenses</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="monthlyRecord in monthlyRecords" ng-show="monthlyRecord.id">
						<td st-ratio="10">{{monthlyRecord.yearmonth | date: 'MMM yyyy'}}</td>
						<td st-ratio="10">{{monthlyRecord.salesTarget | currency}}</td>			
						<td st-ratio="10">{{monthlyRecord.claimableExpenses | currency}}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5" class="text-center">
							<div st-items-by-page="3" st-pagination="" st-template="/templates/partials/_pagination.html"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-success">
				<div class="panel-heading"><b>Yearly Summary</b></div>		
				<div class="panel-body">
			  		<ul class="list-group">
	  					<li class="list-group-item">Number of Won Deals: <b>{{wonDeals.length}}</b></li>
				  		<li class="list-group-item">Number of Lost Deals: <b>{{lostDeals.length}}</b></li>
						<li class="list-group-item">Sales Amount: <b>{{yearlySalesAmount | currency}}</b></li>
						<li class="list-group-item">Number of Services Conducted: <b>{{yearlyServices.length}}</b></li>
						<li class="list-group-item">Total Charge of Services: <b>{{yearlyServicesCharge | currency}}</b></li>
						<li class="list-group-item">Expenses Claimed: <b>{{yearlyExpenseClaims | currency}}</b></li>
			  			<li class="list-group-item">
						    <small><em>Target Amount: {{thisYearTarget | currency}}</em></small>
				   	 		<uib-progressbar animate="false" value="thisYearTargetPercentage" type="success"><b>{{thisYearTargetPercentage}}%</b></uib-progressbar>
						</li>
			  			<li class="list-group-item">
				    		<small><em>Allowable Expenses: {{thisYearExpenses | currency}}</em></small>
					    	<uib-progressbar animate="false" value="thisYearExpensePercentage" type="success"><b>{{thisYearExpensePercentage}}%</b></uib-progressbar>
						</li>  							
	  				</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading"><b>{{thisMonthText}} Summary</b></div>		
		 		<div class="panel-body">
		  			<ul class="list-group">
						<li class="list-group-item">Number of Won Deals: <b>{{monthlyWonDeals[thisMonth].length}}</b></li>
					  	<li class="list-group-item">Number of Lost Deals: <b>{{monthlyLostDeals[thisMonth].length}}</b></li>
						<li class="list-group-item">Sales Amount: <b>{{monthlyAmount[thisMonth] | currency}}</b></li>
						<li class="list-group-item">Number of Services Conducted: <b>{{monthlyServices[thisMonth].length}}</b></li>
						<li class="list-group-item">Total Charge of Services: <b>{{monthlyServicesCharge[thisMonth] | currency}}</b></li>
					  	<li class="list-group-item">Expenses Claimed: <b>{{monthlyExpenseClaims[thisMonth] | currency}}</b></li>  												
						<li class="list-group-item">
						    <small><em>Target Amount: {{thisMonthRecord.salesTarget | currency}}</em></small>
						    <uib-progressbar animate="false" value="thisMonthTargetPercentage" type="info"><b>{{thisMonthTargetPercentage}}%</b></uib-progressbar>
						</li>
			  			<li class="list-group-item">
					    	<small><em>Allowable Expenses: {{thisMonthRecord.claimableExpenses | currency}}</em></small>
					    	<uib-progressbar animate="false" value="thisMonthExpensePercentage" type="info"><b>{{thisMonthExpensePercentage}}%</b></uib-progressbar>
						</li>
					</ul>
				</div>
			</div>	
		</div>
	</div>
</div>

<div ng-show="!authenticated">
	<p>Login to see your greeting</p>
</div>
</ui-view>