<table st-table="customers" st-safe-src="displayCustomers" class="table table-striped">
	<thead>
		<tr>
			<th st-ratio="5" st-sort="id">ID</th>
			<th st-ratio="10" st-sort="name">Name</th>
			<th st-ratio="5" st-sort="gender">Gender</th>									
			<th st-ratio="15" st-sort="companyId">Company</th>
			<th st-ratio="10" st-sort="department">Department</th>			
			<th st-ratio="10" st-sort="position">Position</th>
			<th st-ratio="10" st-sort="telephone">Tel</th>
			<th st-ratio="10" st-sort="email">Email</th>
			<th st-ratio="15" st-sort="address">Address</th>
			<th st-ratio="10">Actions</th>
		</tr>
		<tr>
			<th st-ratio="5"></th>
            <th st-ratio="10">
            	<input st-search="name" placeholder="search for name" class="input-sm form-control" type="search"/>
            </th>
            <th st-ratio="5">
            </th>
            <th st-ratio="15">
            	<input st-search="companyName" placeholder="search for company" class="input-sm form-control" type="search"/>
            </th>
            <th st-ratio="10">
            	<input st-search="department" placeholder="search for department" class="input-sm form-control" type="search"/>
            </th>
            <th st-ratio="10">
            	<input st-search="position" placeholder="search for position" class="input-sm form-control" type="search"/>
            </th>
            <th st-ratio="10">
            	<input st-search="telephone" placeholder="search for telephone" class="input-sm form-control" type="search"/>
            </th>
            <th st-ratio="10">
            	<input st-search="email" placeholder="search for email" class="input-sm form-control" type="search"/>
            </th>
           	<th st-ratio="15">
            	<input st-search="address" placeholder="search for address" class="input-sm form-control" type="search"/>
            </th>
			<th st-ratio="10"></th>
		</tr>		
	</thead>
	<tbody>
		<tr ng-repeat="customer in customers" ng-show="customer.id">
			<td st-ratio="5">{{customer.id}}</td>
			<td st-ratio="10">{{customer.name}}</td>
			<td st-ratio="5">{{customer.gender}}</td>			
			<td st-ratio="15">{{customer.companyName}}</td>
			<td st-ratio="10">{{customer.department}}</td>
			<td st-ratio="10">{{customer.position}}</td>
			<td st-ratio="10">{{customer.telephone}}</td>
			<td st-ratio="10">{{customer.email}}</td>
			<td st-ratio="15">{{customer.address}}</td>
			<td st-ratio="10">
				
				<a ui-sref="customerManagement.customerShow({id:customer.id})" type="button" class="btn btn-sm btn-primary" uib-popover="View {{customer.name}}" popover-trigger="mouseenter">
					<i class="glyphicon glyphicon-lg glyphicon-eye-open"></i>
				</a>
				
				<a ui-sref="customerManagement.customerUpdate({id:customer.id})" type="button" class="btn btn-sm btn-primary" uib-popover="Edit {{customer.name}}" popover-trigger="mouseenter">
					<i class="glyphicon glyphicon-lg glyphicon-edit"></i>
				</a>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5" class="text-center">
				<div st-items-by-page="itemsByPage" st-pagination="" st-template="templates/partials/_pagination.html"></div>
			</td>
		</tr>
	</tfoot>
</table>

<a type="button" class="btn btn-primary btn-md" ui-sref="customerManagement.customerCreate">Create New Customer</a>
