<form name="companyForm" class="form col-md-12" ng-submit="companyForm.$valid && popSaveConfirmationDialog()" novalidate>
	<fieldset class="form-group">
    	<label for="name">Name</label>
	    <input class="form-control" type="text" id="name" name="name" ng-model="company.name" required/>
  	</fieldset>
 	<fieldset class="form-group">
    	<label for="telephone">Telephone</label>
	    <input class="form-control" type="text" id="telephone" name="telephone" ng-model="company.telephone" />
  	</fieldset>
 	<fieldset class="form-group">
    	<label for="email">Email</label>
	    <input class="form-control" type="email" id="email" name="email" ng-model="company.email" />
  	</fieldset>
 	<fieldset class="form-group">
    	<label for="address">Address</label>
	    <input class="form-control" type="text" id="address" name="address" ng-model="company.address" />
  	</fieldset>
 	<button type="submit" value="Submit" class="btn btn-default btn-md" ng-disabled="!companyForm.$valid">Save</button>
</form>