<table class="table">
	<thead>
		<tr>
			<th st-ratio="90">Existing Documents</th>
			<th st-ratio="10">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="document in documents" ng-show="document.id">
			<td>
				<a href="{{getFilePath(document.name)}}">
				<i class="glyphicon glyphicon-file"></i>{{getOriginDocumentName(document.name)}}
				</a>
			</td>
            <td nowrap>
                <button type="button" class="btn btn-danger btn-xs float-right" ng-click="remove(document)">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
            </td>
		</tr>
	</tbody>
</table>