<div class="modal fade" style="width:100%;">
    <div class="modal-dialog" style="width:40%">
        <div class="modal-content" style="width:100%">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{header}}</h4>
            </div>
            <div class="modal-body col-md-12">
                <div ng-show="company.id">
                    <h4>This lead's company already exists in database</h4>
                </div>
                <div ng-show="!company.id">
                    <h4>This lead's company doesn't exist in database, please fill in details.</h4>
                    <sp-company-form company="company" action="Create"></sp-company-form>
                </div>

                <div ng-show="company.id">
                    <div ng-show="customer.id">
                        <h4>This lead already exists in database.</h4>
                        <fieldset>
                            <label for="actions">Qualify</label>
                            <div>
                                <button type="button" ng-click="save()" data-dismiss="modal" class="btn btn-sm btn-success" ng-disabled="!customer.id || !company.id"><i class="glyphicon glyphicon-lg glyphicon-ok-circle"></i></button>
                                <button type="button" ng-click="cancel()" data-dismiss="modal" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-lg glyphicon-remove-circle"></i></button>
                            </div>
                        </fieldset>
                    </div>
                    <div ng-show="!customer.id">
                        <h4>This lead doesn't exist in database, please fill in details.</h4>
                        <sp-customer-form customer="customer" companies="companies" action="Create"></sp-customer-form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>