<div class="box box-{{type}}">
	<div class="box-header with-border">
		<h3 class="box-title">{{header}} Lead</h3>
		<div class="box-tools pull-right">
			<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    	</div>
  	</div>
		<div class="box-body">
        <div><label>Search:</label> <input type="text" placeholder="name,company,interests" ng-model="searchLeads" /></div>
    	<div class="panel panel-{{type}}" ng-repeat="lead in leads | limitTo:leadLimitTo | orderBy : lead.dateModified : true | filter:searchLeads">
    		<div class="panel-heading">
    			<b><a ui-sref="customerManagement.customerShow({id:lead.customerId})">{{lead.name}}</a></b> from <b><a ui-sref="customerManagement.companyShow({id:lead.companyId})">{{lead.companyName}}</a></b> created at <b>{{lead.dateCreated | date: "MMM dd yyyy"}}</b> 
    		</div>
    		<div class="panel-body">
    				<p>Telphone: <b>{{lead.telephone}}</b></p>
    				<p>Email: <b>{{lead.email}}</b></p>
	    			<p>Interested In: <a ng-repeat="product in lead.products" ui-sref="product({id:product.id,categoryOneId:product.categoryOneId,categoryTwoId:product.categoryTwoId})"> {{product.name}} </a></p>
		    		<p>source: <b>{{lead.source}}</b></p>
		    		<p>quality: <uib-rating ng-model="lead.quality" max="5" readonly="true" aria-labelledby="default-rating"></uib-rating></p>
    				<button class="btn btn-danger btn-xs" ng-click="editLead(lead)">Edit</button>
    				<button class="btn btn-warning btn-xs" ng-click="contact(lead)">Contact</button>
    				<button class="btn btn-success btn-xs" ng-hide="lead.leadStatus==='QUALIFIED'" ng-click="qualify(lead)">Qualify</button>
                    <button class="btn btn-primary btn-xs" ng-show="lead.leadStatus==='QUALIFIED'" ng-click="analysis(lead)">Analysis</button>

    		</div>
    	</div>
    	<button class="btn btn-default btn-md" ng-show="leads.length>leadLimitTo" style="width:100%" ng-click="loadMoreLeads()">Load More</button>
  	</div>
</div>