<form name="productForm" class="form col-md-12" ng-submit="productForm.$valid && popSaveConfirmationDialog(product)" novalidate>
   	<fieldset class="form-field">
   	    <label class="form-label" for="catalog">Catalog</label>
        <select class="form-control" name='catalog' ng-model='product.categoryOneId' ng-options='categoryone.id as categoryone.name for categoryone in categoryones' required></select>
  	</fieldset> 	
 	<fieldset class="form-field">
   	    <label class="form-label" for="category">Category</label>
        <select class="form-control" name='category' ng-model='product.categoryTwoId' ng-options='categorytwo.id as categorytwo.name for categorytwo in categorytwos' required></select>
  	</fieldset>
	<fieldset class="form-group">
    	<label for="title">Name</label>
	    <input class="form-control" type="text" id="name" name="name" ng-model="product.name" required/>
  	</fieldset>
 	<fieldset class="form-group">
    	<label for="title">Overview</label>
			<text-angular ng-model="product.overview"></text-angular>
  	</fieldset>
 	<fieldset class="form-group">
    	<label for="title">Benefits</label>
			<text-angular ng-model="product.benefits"></text-angular>
  	</fieldset>
  	 	<fieldset class="form-group">
    	<label for="title">Cases</label>
			<text-angular ng-model="product.cases"></text-angular>
  	</fieldset>
  		<fieldset class="form-group">
    	<label for="title">Technology</label>
			<text-angular ng-model="product.technology"></text-angular>
  	</fieldset>
  		<fieldset class="form-group">
    	<label for="title">Specification</label>
			<text-angular ng-model="product.specification"></text-angular>
  	</fieldset>  	
	<fieldset class="form-group">
    	<label for="title">Price</label>
	    <input class="form-control" type="number" id="price" name="price" ng-model="product.price" required/>
  	</fieldset>
 	<button type="submit" value="Submit" class="btn btn-default btn-md" ng-disabled="!productForm.$valid">Save</button>
</form>