<div class="modal fade" style="width:100%;">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content" style="width:100%">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{header}}</h4>
            </div>
            <div class="modal-body col-md-12">

				<div class="row">
					<div class="col-md-2"><select class="form-control" name='year' ng-model='thisYear' ng-options='year for year in [2013,2014,2015,2016]' required></select></div>
					<div class="col-md-4"><h4>Sales Amount/Expenses Claimed</h4></div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<canvas id="barChart" class="chart chart-bar" chart-data="barData" chart-labels="barLabels" chart-series="barSeries" chart-click="barOnClick" style="height:400px">
						</canvas>
					</div>
					<div class="col-md-6">
						<table st-set-filter="customFilter" st-table="monthlyRecords" st-safe-src="DisplayMonthlyRecords" class="table table-striped">
							<thead>
								<tr>
									<th st-ratio="10" st-sort="yearmonth" st-sort-default="reverse">Year Month</th>
									<th st-ratio="10" st-sort="salesTarget">Sales Target</th>									
									<th st-ratio="10" st-sort="claimableExpenses">Claimable Expenses</th>
									<th st-ratio="10" st-sort="comment">Comment</th>						
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="monthlyRecord in monthlyRecords" ng-show="monthlyRecord.id">
									<td st-ratio="10">{{monthlyRecord.yearmonth | date: 'MMM yyyy'}}</td>
									<td st-ratio="10">{{monthlyRecord.salesTarget | currency}}</td>			
									<td st-ratio="10">{{monthlyRecord.claimableExpenses | currency}}</td>
									<td st-ratio="10" ng-bind-html="monthlyRecord.comment"></td>					
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="5" class="text-center">
										<div st-items-by-page="3" st-pagination="" st-template="/templates/partials/_pagination.html"></div>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-success">
							<div class="panel-heading"><b>Yearly Summary</b></div>		
							<div class="panel-body">
						  		<ul class="list-group">
				  					<li class="list-group-item">Number of Won Deals: <b>{{wonDeals.length}}</b></li>
							  		<li class="list-group-item">Number of Lost Deals: <b>{{lostDeals.length}}</b></li>
									<li class="list-group-item">Sales Amount: <b>{{yearlySalesAmount | currency}}</b></li>
									<li class="list-group-item">Number of Services Conducted: <b>{{yearlyServices.length}}</b></li>
									<li class="list-group-item">Total Charge of Services: <b>{{yearlyServicesCharge | currency}}</b></li>
									<li class="list-group-item">Expenses Claimed: <b>{{yearlyExpenseClaims | currency}}</b></li>
						  			<li class="list-group-item">
									    <small><em>Target Amount: {{thisYearTarget | currency}}</em></small>
							   	 		<uib-progressbar animate="true" value="100*(yearlySalesAmount+yearlyServicesCharge)/thisYearTarget | number:0" type="success"><b>{{100*(yearlySalesAmount+yearlyServicesCharge)/thisYearTarget | number:0}}%</b></uib-progressbar>
									</li>
						  			<li class="list-group-item">
							    		<small><em>Allowable Expenses: {{thisYearExpenses | currency}}</em></small>
								    	<uib-progressbar animate="true" value="100*yearlyExpenseClaims/thisYearExpenses | number:0" type="success"><b>{{100*yearlyExpenseClaims/thisYearExpenses | number:0}}%</b></uib-progressbar>
									</li>  							
				  				</ul>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-info">
							<div class="panel-heading"><b>{{thisMonthText}} Summary</b></div>		
					 		<div class="panel-body">
					  			<ul class="list-group">
									<li class="list-group-item">Number of Won Deals: <b>{{monthlyWonDeals[thisMonth].length}}</b></li>
								  	<li class="list-group-item">Number of Lost Deals: <b>{{monthlyLostDeals[thisMonth].length}}</b></li>
									<li class="list-group-item">Sales Amount: <b>{{monthlyAmount[thisMonth] | currency}}</b></li>
									<li class="list-group-item">Number of Services Conducted: <b>{{monthlyServices[thisMonth].length}}</b></li>
									<li class="list-group-item">Total Charge of Services: <b>{{monthlyServicesCharge[thisMonth] | currency}}</b></li>
								  	<li class="list-group-item">Expenses Claimed: <b>{{monthlyExpenseClaims[thisMonth] | currency}}</b></li>  												
									<li class="list-group-item">
									    <small><em>Target Amount: {{thisMonthRecord.salesTarget | currency}}</em></small>
									    <uib-progressbar animate="true" value="100*monthlyAmount[thisMonth]/thisMonthRecord.salesTarget | number:0" type="info"><b>{{100*monthlyAmount[thisMonth]/thisMonthRecord.salesTarget | number:0}}%</b></uib-progressbar>
									</li>
						  			<li class="list-group-item">
								    	<small><em>Allowable Expenses: {{thisMonthRecord.claimableExpenses | currency}}</em></small>
								    	<uib-progressbar animate="true" value="100*monthlyExpenseClaims[thisMonth]/thisMonthRecord.claimableExpenses | number:0" type="info"><b>{{100*monthlyExpenseClaims[thisMonth]/thisMonthRecord.claimableExpenses | number:0}}%</b></uib-progressbar>
									</li>
								</ul>
							</div>
						</div>	
					</div>
				</div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>