<div>
	<div class="row">
		<span style="font-size:200%">Opportunity: <a>{{deal.productName}}</a> <i>for</i> <a>{{deal.customerName}}</a>@<a>{{deal.companyName}}</a>
		<button style="margin-top:5px" class="btn btn-primary pull-right">Follow</button>
		</span>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-1">
			<h5>QUANTITY</h5>
			<h4><small>{{deal.quantity}}</small></h4>		
		</div>
		<div class="col-md-1">
			<h5>AMOUNT</h5>
			<h4><small>{{deal.totalPrice | currency}}</small></h4>		
		</div>
		<div class="col-md-1">
			<h5>OPEN DATE</h5>
			<h4><small>{{deal.dateCreated | date:'MMM dd yyyy'}}</small></h4>		
		</div>
		<div class="col-md-1">
			<h5>CLOSE DATE</h5>
			<h4><small>{{deal.dateClosed | date:'MMM dd yyyy'}}</small></h4>		
		</div>
		<div class="col-md-1">
			<h5>OWNER</h5>
			<h4><small>{{deal.userName}}</small></h4>		
		</div>
		<div class="col-md-5">
			<h5>FOLLOWERS</h5>
			<span>{{deal.userName}}</span>
			<span>{{deal.userName}}</span>
			<span>{{deal.userName}}</span>
			<span>{{deal.userName}}</span>
			<span>{{deal.userName}}</span>
			<span>{{deal.userName}}</span>
			<span>{{deal.userName}}</span>
			<span>{{deal.userName}}</span>
			<span>{{deal.userName}}</span>
			<span>{{deal.userName}}</span>
			<span>{{deal.userName}}</span>
			<span>{{deal.userName}}</span>
			<span>{{deal.userName}}</span>
			<span>{{deal.userName}}</span>
			<span>{{deal.userName}}</span>
			<span>{{deal.userName}}</span>
			<span>{{deal.userName}}</span>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="row col-md-6" style="margin-right:10px">
			<h3>Comments</h3>
			<div ng-repeat="comment in comments | orderBy:'-id' | startFrom:(currentPage-1)*pageCapacity | limitTo:pageCapacity" style="border:1px solid;border-color:#ddd;margin-bottom:20px">
				<div class="comment-header" style="background-color:#F7F7F7;color:#767676;height:22px">
					<span style="font-weight:bold">&nbsp;{{comment.userName}}</span><span>&nbsp;commented at {{comment.dateCreated | date:'MMM d, y h:mm:ss a'}}</span>
				</div>
				<div class="comment-body" style="margin:10px;">
					<p ng-bind-html="comment.comment"></p>
				</div>
			</div>
			<uib-pagination total-items="totalItems" items-per-page="pageCapacity" max-size="noOfPages" ng-model="currentPage" ng-show="comments.length"></uib-pagination>
			
			<sp-comment-form deal="deal" comment="comment"></sp-comment-form>
		</div>
		<div class="row col-md-6">
			<h3>Calendar</h3>
			<div id="events-calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
			<sp-event-form ng-show="showForm" deal="deal" event="event" action="action"></sp-event-form>
			
		</div>
		<div class="row col-md-6">
			<br />
			<button type="button" class="btn btn-primary btn-md" ng-click="add()" ng-hide="showForm">Create New Event</button>
		</div>
	</div>
	<hr />
</div>


