<div>
	<div class="row">
		<span style="font-size:200%">Opportunity: <a ui-sref="product({categoryOneId:deal.categoryOneId,categoryTwoId:deal.categoryTwoId,id:deal.productId})">{{deal.productName}}</a> <i>for</i> 
		<a ui-sref="customerManagement.customerShow({id:deal.customerId})">{{deal.customerName}}</a>@
		<a ui-sref="customerManagement.companyShow({id:deal.companyId})">{{deal.companyName}}</a>
		<button class="btn btn-danger" ng-show="isFollow" ng-click="unfollow()">Unfollow</button>	
		<button class="btn btn-primary" ng-show="!isFollow" ng-click="follow()">Follow</button>			
		</span>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-1">
			<h5>QUANTITY</h5>
			<h4><small>{{deal.quantity}}</small></h4>		
		</div>
		<div class="col-md-1">
			<h5>AMOUNT</h5>
			<h4><small>{{deal.totalPrice | currency}}</small></h4>		
		</div>
		<div class="col-md-1">
			<h5>OPEN DATE</h5>
			<h4><small>{{deal.dateCreated | date:'MMM dd yyyy'}}</small></h4>		
		</div>
		<div class="col-md-1">
			<h5>CLOSE DATE</h5>
			<h4><small>{{deal.dateClosed | date:'MMM dd yyyy'}}</small></h4>		
		</div>
		<div class="col-md-1">
			<h5>Status</h5>
			<h4><small><button ng-disabled="true" class="btn btn-xs" ng-class="deal.dealStatus==='IN PROGRESS' ? 'btn-warning' : (deal.dealStatus==='WON' ? 'btn-success' : 'btn-danger')">{{deal.dealStatus}}</button></small></h4>		
		</div>
		<div class="col-md-1">
			<h5>OWNER</h5>
			<h4><small>{{deal.userName}}</small></h4>		
		</div>
		<div class="col-md-5">
			<h5>FOLLOWERS</h5>
			<span ng-repeat="follower in followers">
				<i class="glyphicon glyphicon-lg glyphicon-user" uib-popover="{{follower.userName}}" popover-trigger="mouseenter"></i>
			</span>
		</div>
		<button type="button" class="btn btn-primary btn-md pull-right" ng-click="editDeal(deal.id)" ng-hide="showDealForm">Edit</button>
		<sp-deal-form deal="deal" ng-show="showDealForm"></sp-deal-form>	
	</div>
	<hr />
	<div class="row">
		<div class="row col-md-6" style="margin-right:30px">
			<uib-tabset justified="true">
				<uib-tab heading="Comments">
					<br />
			  		<div><label>Search:</label> <input type="text" ng-model="searchComments" /></div>				
					<div ng-repeat="comment in comments | orderBy:'-id' | filter:searchComments | startFrom:(currentPage-1)*pageCapacity | limitTo:pageCapacity" style="border:1px solid;border-color:#ddd;margin-bottom:20px">
						<div class="comment-header" style="background-color:#F7F7F7;color:#767676;height:22px">
							<span style="font-weight:bold">&nbsp;{{comment.userName}}</span><span>&nbsp;commented at {{comment.dateCreated | date:'MMM d, y h:mm:ss a'}}</span>
						</div>
						<div class="comment-body" style="margin:10px;">
							<p ng-bind-html="comment.comment"></p>
						</div>
					</div>
					<uib-pagination total-items="totalItems" items-per-page="pageCapacity" max-size="noOfPages" ng-model="currentPage" ng-show="comments.length"></uib-pagination>
					<sp-comment-form deal="deal" comment="comment"></sp-comment-form>
				</uib-tab>
				
				<uib-tab heading="Documents">
					<sp-documents deal-id="deal.id"></sp-documents>	
					<sp-file-upload file-type="Document" upload-url="/files/deal-docs/upload" deal-id="deal.id"></sp-file-upload>
				</uib-tab>
				<uib-tab heading="Expense Claims">
					<table st-set-filter="customFilter" st-table="expenseClaims" st-safe-src="displayExpenseClaims" class="table table-striped">
						<thead>
							<tr>
								<th st-ratio="10" st-sort="title">Title</th>
								<th st-ratio="10" st-sort="amount">Amount</th>
								<th st-ratio="10" st-sort="dateIncurred" st-sort-default="reverse">Date Incurred</th>
								<th st-ratio="10" st-sort="userName">Claimer</th>
								<th st-ratio="10">Action</th>								
							</tr>
							<tr>
					            <th st-ratio="10">
					            	<input st-search="title" placeholder="search" class="input-sm form-control" type="search"/>
					            </th>
								<th st-ratio="10">
									<st-number-range predicate="amount" lower="query.lower" higher="query.higher"></st-number-range>
								</th>
								<th st-ratio="10">
									<st-date-range  id="dateIncurred" predicate="dateIncurred" after="query.after" before="query.before"></st-date-range>
								</th>
					            <th st-ratio="10">
					            	<input st-search="userName" placeholder="search" class="input-sm form-control" type="search"/>
					            </th>
					            <th st-ratio="10">
					            </th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="expenseClaim in expenseClaims" ng-show="expenseClaim.id">
								<td st-ratio="10">{{expenseClaim.title}}</td>
								<td st-ratio="10">{{expenseClaim.amount | currency}}</td>	
								<td st-ratio="10">{{expenseClaim.dateIncurred | date:'yyyy/MM/dd'}}</td>			
								<td st-ratio="10">{{expenseClaim.userName}}</td>		
								<td st-ratio="10">
									<button type="button" class="btn btn-sm btn-primary" ng-click="editExpenseClaim(expenseClaim)" uib-popover="Edit" popover-trigger="mouseenter">
										<i class="glyphicon glyphicon-lg glyphicon-edit"></i>
									</button>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5" class="text-center">
									<div st-items-by-page="itemsByPage" st-pagination="" st-template="templates/partials/_pagination.html"></div>
								</td>
							</tr>
						</tfoot>
					</table>
					<br />
					<sp-expense-claim-form ng-show="showExpenseClaimForm" deal="deal" expense-claim="expenseClaim" action="expenseClaimAction"></sp-expense-claim-form>		
					<button type="button" class="btn btn-primary btn-md" ng-click="addExpenseClaim()" ng-hide="showExpenseClaimForm">Create New Expense Claim</button>
				</uib-tab>
			</uib-tabset>
		</div>
		<div class="row col-md-6">
			<div class="row">
				<h3>Deal Calendar</h3>
				<div id="events-calendar" ui-calendar="uiConfig.eventCalendar" ng-model="eventSources"></div>
				<sp-event-form ng-show="showForm" deal="deal" event="event" event-type="Event" action="action"></sp-event-form>
				<br />
				<button type="button" class="btn btn-primary btn-md" ng-click="add()" ng-hide="showForm">Create New Event</button>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-6">
			<h3>Services</h3>
			<table st-set-filter="customFilter" st-table="serviceEvents" st-safe-src="displayServiceEvents" class="table table-striped">
				<thead>
					<tr>
						<th st-ratio="10" st-sort="title">Title</th>
						<th st-ratio="10" st-sort="end" st-sort-default="reverse">Date</th>			
						<th st-ratio="10" st-sort="location">Location</th>
						<th st-ratio="10" st-sort="userName">Assigned To</th>								
						<th st-ratio="10" st-sort="charge">Charge</th>
						<th st-ratio="10" st-sort="">Files</th>
					</tr>		
				</thead>
				<tbody>
					<tr ng-repeat="serviceEvent in serviceEvents" ng-show="serviceEvent.id">
						<td st-ratio="10">{{serviceEvent.title}}</td>
						<td st-ratio="10">{{serviceEvent.end | date:'yyyy/MM/dd'}}</td>			
						<td st-ratio="10">{{serviceEvent.location}}</td>
						<td st-ratio="10">{{serviceEvent.userName}}</td>		
						<td st-ratio="10">{{serviceEvent.charge | currency}}</td>
						<td st-ratio="10">
							<a ng-repeat="serviceDocument in serviceEvent.serviceDocuments" href="{{getServiceDocumentDirectory(serviceDocument.name)}}">
					  			<span class="glyphicon glyphicon-file" uib-popover="{{getOriginDocumentName(serviceDocument.name)}}" popover-trigger="mouseenter"></span>
							</a>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5" class="text-center">
							<div st-items-by-page="itemsByPage" st-pagination="" st-template="templates/partials/_pagination.html"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="col-md-6">
			<div class="row">
				<h3>Service Calendar</h3>
				<div id="services-calendar" ui-calendar="uiConfig.serviceCalendar" ng-model="serviceEventSources"></div>
				<sp-event-form ng-show="showServiceForm" deal="deal" event="serviceEvent" event-type="Service" action="serviceAction"></sp-event-form>
				<sp-documents service-id="serviceEvent.id" ng-show="showServiceForm && serviceAction=='Update'"></sp-documents>	
				<sp-file-upload file-type="Document" upload-url="/files/service-docs/upload" service-id="serviceEvent.id" ng-show="showServiceForm && serviceAction=='Update'"></sp-file-upload>
				<br />
				<button type="button" class="btn btn-primary btn-md" ng-click="addService()" ng-hide="showServiceForm">Create New Service</button>
			</div>
		</div>
	</div>
</div>
<div style="height:400px">

</div>


