<div>
	<div class="row">
		<span style="font-size:200%">Opportunity: <a ui-sref="product({categoryOneId:deal.categoryOneId,categoryTwoId:deal.categoryTwoId,id:deal.productId})">{{deal.productName}}</a> <i>for</i> 
		<a ui-sref="customerManagement.customerShow({id:deal.customerId})">{{deal.customerName}}</a>@
		<a ui-sref="customerManagement.companyShow({id:deal.companyId})">{{deal.companyName}}</a>
		<button class="btn btn-danger" ng-show="isFollow && deal.userId!=currentUser.id" ng-click="unfollow()">Unfollow</button>	
		<button class="btn btn-primary" ng-show="!isFollow && deal.userId!=currentUser.id" ng-click="follow()">Follow</button>			
		</span>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-1">
			<h5>QUANTITY</h5>
			<h4><small>{{deal.quantity}}</small></h4>		
		</div>
		<div class="col-md-1">
			<h5>AMOUNT</h5>
			<h4><small>{{deal.totalPrice | currency}}</small></h4>		
		</div>
		<div class="col-md-1">
			<h5>OPEN DATE</h5>
			<h4><small>{{deal.dateCreated | date:'MMM dd yyyy'}}</small></h4>		
		</div>
		<div class="col-md-1">
			<h5>CLOSE DATE</h5>
			<h4><small>{{deal.dateClosed | date:'MMM dd yyyy'}}</small></h4>		
		</div>
		<div class="col-md-1">
			<h5>Status</h5>
			<h4><small><button ng-disabled="true" class="btn btn-xs" ng-class="deal.dealStatus==='IN PROGRESS' ? 'btn-warning' : (deal.dealStatus==='WON' ? 'btn-success' : 'btn-danger')">{{deal.dealStatus}}</button></small></h4>		
		</div>
		<div class="col-md-1">
			<h5>OWNER</h5>
			<h4><small>{{deal.userName}}</small></h4>		
		</div>
		<div class="col-md-5">
			<h5>FOLLOWERS</h5>
			<span ng-repeat="follower in followers">
				<i class="glyphicon glyphicon-lg glyphicon-user" uib-popover="{{follower.userName}}" popover-trigger="mouseenter"></i>
			</span>
		</div>
		<button type="button" class="btn btn-primary btn-md pull-right" ng-click="editDeal(deal.id)" ng-hide="showDealForm">Edit</button>
		<sp-deal-form deal="deal" ng-show="showDealForm"></sp-deal-form>	
	</div>
	<div class="row">
 		<div class="col-md-4">
		 	<fieldset class="form-group">
	 			<ui-select multiple ng-model="followRequest.inviteeIds" theme="select2" ng-disabled="disabled" style="width: 360px;">
				    <ui-select-match placeholder="Invite Followers">{{$item.firstname}} {{$item.lastname}}</ui-select-match>
				    <ui-select-choices repeat="userCopy.id as userCopy in usersCopy | filter:$select.search">
			      	{{userCopy.firstname}} {{userCopy.lastname}}
				    </ui-select-choices>
			  	</ui-select>
  			</fieldset>
	  		<button type="button" class="btn btn-primary btn-md" ng-click="invite()">Invite</button>
			 <button type="button" class="btn btn-warning btn-md" ng-click="emptyInvitees()">Empty</button>
 		</div>
 		 		
	</div>
	<hr />
	<div class="row">
		<div class="row col-md-6" style="margin-right:30px">
			<uib-tabset justified="true">
				<uib-tab heading="Comments">
					<br />
			  		<div><label>Search:</label> <input type="text" ng-model="searchComments" /></div>				
					<div ng-repeat="comment in comments | orderBy:'-id' | filter:searchComments | startFrom:(currentPage-1)*pageCapacity | limitTo:pageCapacity" style="border:1px solid;border-color:#ddd;margin-bottom:20px">
						<div class="comment-header" style="background-color:#F7F7F7;color:#767676;height:22px">
							<span style="font-weight:bold">&nbsp;{{comment.userName}}</span><span>&nbsp;commented at {{comment.dateCreated | date:'MMM d, y h:mm:ss a'}}</span>
						</div>
						<div class="comment-body" style="margin:10px;">
							<p ng-bind-html="comment.comment"></p>
						</div>
					</div>
					<uib-pagination total-items="totalItems" items-per-page="pageCapacity" max-size="noOfPages" ng-model="currentPage" ng-show="comments.length"></uib-pagination>
					<sp-comment-form deal="deal" comment="comment"></sp-comment-form>
				</uib-tab>
				<uib-tab heading="Requests">
					<table st-set-filter="customFilter" st-table="dealRequests" st-safe-src="displayDealRequests" class="table table-striped" ng-show="dealRequests.length">
						<thead>
							<tr>
								<th st-sort="id" ng-hide="true" st-sort-default="reverse"></th>
								<th st-ratio="10" st-sort="requesterName">Requester</th>
								<th st-ratio="10" st-sort="requesteeName">Requestee</th>
								<th st-ratio="10" st-sort="requestType">Type</th>								
								<th st-ratio="10" st-sort="requestMessage">Request</th>
								<th st-ratio="10" st-sort="requestResponse">Response</th>								
								<th st-ratio="10" st-sort=isComplete>Is Complete</th>
								<th st-ratio="10">Action</th>								
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="dealRequest in dealRequests" ng-show="dealRequest.id">
								<td st-ratio="10">{{dealRequest.requesterName}}</td>							
								<td st-ratio="10">{{dealRequest.requesteeName}}</td>
								<td st-ratio="10">{{dealRequest.requestType}}</td>	
								<td st-ratio="10" ng-bind-html="dealRequest.requestMessage"></td>
								<td st-ratio="10" ng-bind-html="dealRequest.responseMessage"></td>			
								<td st-ratio="10">{{dealRequest.isCompleteText}}</td>		
								<td st-ratio="10">
									<button type="button" class="btn btn-sm btn-primary" ng-show="(dealRequest.isComplete===0 && currentUser.id===dealRequest.userId) || currentUser.id===dealRequest.requesteeId" ng-click="editDealRequest(dealRequest)" uib-popover="Edit" popover-trigger="mouseenter">
										<i class="glyphicon glyphicon-lg glyphicon-edit"></i>
									</button>
									<button type="button" class="btn btn-sm btn-success" ng-show="currentUser.id===dealRequest.requesteeId && dealRequest.isComplete===0" ng-click="markAsComplete(dealRequest)" uib-popover="Mark Done" popover-trigger="mouseenter">
										<i class="glyphicon glyphicon-lg glyphicon-ok"></i>
									</button>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5" class="text-center">
									<div st-items-by-page="itemsByPage" st-pagination="" st-template="templates/partials/_pagination.html"></div>
								</td>
							</tr>
						</tfoot>
					</table>
					<br />
					<button type="button" class="btn btn-primary btn-md" ng-click="addDealRequest()">Make A Request</button>
				</uib-tab>
				<uib-tab heading="Services">
					<table st-set-filter="customFilter" st-table="serviceEvents" st-safe-src="displayServiceEvents" class="table table-striped" ng-show="serviceEvents.length">
						<thead>
							<tr>
								<th st-ratio="10" st-sort="title">Title</th>
								<th st-ratio="10" st-sort="end" st-sort-default="reverse">Date</th>			
								<th st-ratio="10" st-sort="location">Location</th>
								<th st-ratio="10" st-sort="userName">Assigned To</th>								
								<th st-ratio="10" st-sort="charge">Charge</th>
								<th st-ratio="10" st-sort="">Files</th>
								<th st-ratio="10" st-sort="">Edit</th>
							</tr>		
						</thead>
						<tbody>
							<tr ng-repeat="serviceEvent in serviceEvents" ng-show="serviceEvent.id">
								<td st-ratio="10">{{serviceEvent.title}}</td>
								<td st-ratio="10">{{serviceEvent.end | date:'yyyy/MM/dd'}}</td>			
								<td st-ratio="10">{{serviceEvent.location}}</td>
								<td st-ratio="10">{{serviceEvent.userName}}</td>
								<td st-ratio="10">{{serviceEvent.charge | currency}}</td>
								<td st-ratio="10">
									<a ng-repeat="serviceDocument in serviceEvent.serviceDocuments" href="{{getServiceDocumentDirectory(serviceDocument.name)}}">
							  			<span class="glyphicon glyphicon-file" uib-popover="{{getOriginDocumentName(serviceDocument.name)}}" popover-trigger="mouseenter"></span>
									</a>
								</td>
								<td st-ratio="10">
									<button type="button" class="btn btn-sm btn-primary" ng-click="editServiceEvent(serviceEvent.id)" uib-popover="Edit" popover-trigger="mouseenter">
										<i class="glyphicon glyphicon-lg glyphicon-edit"></i>
									</button>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5" class="text-center">
									<div st-items-by-page="itemsByPage" st-pagination="" st-template="templates/partials/_pagination.html"></div>
								</td>
							</tr>
						</tfoot>
					</table>
				</uib-tab>
				<uib-tab heading="Documents">
					<sp-documents deal-id="deal.id"></sp-documents>	
					<sp-file-upload file-type="Document" upload-url="/files/deal-docs/upload" deal-id="deal.id"></sp-file-upload>
				</uib-tab>
				<uib-tab heading="Expenses">
					<table st-set-filter="customFilter" st-table="expenseClaims" st-safe-src="displayExpenseClaims" class="table table-striped" ng-show="expenseClaims.length">
						<thead>
							<tr>
								<th st-ratio="10" st-sort="title">Title</th>
								<th st-ratio="10" st-sort="amount">Amount</th>
								<th st-ratio="10" st-sort="dateIncurred" st-sort-default="reverse">Date Incurred</th>
								<th st-ratio="10" st-sort="userName">Claimer</th>
								<th st-ratio="10">Action</th>								
							</tr>
							<tr>
					            <th st-ratio="10">
					            	<input st-search="title" placeholder="search" class="input-sm form-control" type="search"/>
					            </th>
								<th st-ratio="10">
									<st-number-range predicate="amount" lower="query.lower" higher="query.higher"></st-number-range>
								</th>
								<th st-ratio="10">
									<st-date-range  id="dateIncurred" predicate="dateIncurred" after="query.after" before="query.before"></st-date-range>
								</th>
					            <th st-ratio="10">
					            	<input st-search="userName" placeholder="search" class="input-sm form-control" type="search"/>
					            </th>
					            <th st-ratio="10">
					            </th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="expenseClaim in expenseClaims" ng-show="expenseClaim.id">
								<td st-ratio="10">{{expenseClaim.title}}</td>
								<td st-ratio="10">{{expenseClaim.amount | currency}}</td>	
								<td st-ratio="10">{{expenseClaim.dateIncurred | date:'yyyy/MM/dd'}}</td>			
								<td st-ratio="10">{{expenseClaim.userName}}</td>		
								<td st-ratio="10">
									<button type="button" class="btn btn-sm btn-primary" ng-click="editExpenseClaim(expenseClaim)" uib-popover="Edit" popover-trigger="mouseenter">
										<i class="glyphicon glyphicon-lg glyphicon-edit"></i>
									</button>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5" class="text-center">
									<div st-items-by-page="itemsByPage" st-pagination="" st-template="templates/partials/_pagination.html"></div>
								</td>
							</tr>
						</tfoot>
					</table>
					<br />
					<button type="button" class="btn btn-primary btn-md" ng-click="addExpenseClaim()">Create New Expense Claim</button>
				</uib-tab>
			</uib-tabset>
		</div>
		<div class="row col-md-6">
			<div class="row">
				<div id="events-calendar" ui-calendar="uiConfig.eventCalendar" ng-model="eventSources"></div>
				<br />
				<button type="button" class="btn btn-success btn-md" ng-click="add()">Create New Event</button>
				<button type="button" class="btn btn-primary btn-md" ng-click="addService()">Create New Service</button>
				<br />
			</div>
		</div>
	</div>
</div>
<div style="height:200px">
</div>